
body{
	background-color: #e6e6e6;
}

header{
	background-color: #ffffff;
	height: 80px;
	border-bottom: 2px;
	border-color: #cccccc;
/*	border not seen??
*/}
/*mark{
	width: 30px;
	background-color: #4aaaa5;
}*/
body{
	/*background-color: #e6e6e6;*/
}
h1, h2{
	font-family: 'Georgia', Times, Times New Roman, serif;
}
section{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, san-serif;
}

h1{
	margin-left: 125px;
	padding: 20px;
	width: 30%;
	font-size: 40px;
	color: white;
	background-color: #4aaaa5;
	text-align: center;
	float: left;
}
section#top{
	margin-right: 30px;
	padding: 32px;
	float: right;
	align-self: center;
}
.next{
	padding: 10px;
}

section#mid{
	clear: both;
	margin: 40px;
	margin-left: 125px;
	height: 400px;
}
main{
	width: 650px;
	background-color: #ffffff;
	padding: 40px;
	float: left;
}
aside{
	width: 270px;
	background-color: #ffffff;
	padding: 20px;
	float: left;
	margin-left: 40px;
}

h2, h3 { 
	color: #4aaaa5;
}
h2{
	font-size: 25px;
	font-weight: bold;
}
h3{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
h5{
	padding-top:10px;
	padding-bottom: 10px;
}
input{
	/*margin: 20px;*/
}
img{
	margin: 20px;
	float: left;
}
.sippy{
	width: 200px;
	border: 5px;
	border-color: black;
}
p{
	/*float: left;*/
	margin: 20px 0px 0px 15px;
	padding: 20px;

}
a {
    text-decoration: none;
}
h5{
	clear: both;
}
h6{
	font-size: 12px;
	text-align: center;
}
.fa {
    padding: 20px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-linkedin {
	margin-left: 25px;
  background: #007bb5;
  color: white;
}
.fa-skype {
  background: #00aff0;
  color: white;
}
footer{
	clear: both;
	background-color: #666666;
	padding: 20px;
}
@media screen and (max-width: 980px){
	aside{
		margin-left: 0px;
		margin-top: 10px;
	}
	main{
		width: 800px;
	}
}
@media screen and (max-width: 768px){
		main{
		width: 600px;
	}
}
@media screen and (max-width: 640px){
	main{
		width: 400px;
	}
}